#about-body {   
    margin-left: 42px;
    margin-right: 42px;
    text-align: justify;
    padding: 48px;
    opacity: 80%;
    z-index: 1;
}

.about-description {   
    font-family: "bbbDmLight";
}

body {      
    background: white;
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 0;
    z-index: 0;
}

canvas {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
}

.carousel {
    display: flex;
    overflow-X: scroll;
    overflow-y: visible;
    padding: 36px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
  }

.carousel-card-image {
    transition: transform 0.2s cubic-bezier(0.79,0.14,0.15,0.86);
    height: 100%;
    transform-origin: center;
    width: auto;
}

.carousel-card {
    height: 300px;
    padding: 24px;
    animation: float 3s ease-in-out infinite;
    transform-origin: center;
    width: auto;
}

.carousel-card:nth-child(3n) {
    --x: 2px;
    --y: -3px;
    animation-duration: 4.5s;
}

.carousel-card:nth-child(3n+1) {
    --x: -3px;
    --y: 4px;
    animation-duration: 5s;
}

.carousel-card:nth-child(3n+2) {
    --x: 4px;
    --y: 2.5px;
    animation-duration: 4s;
}

.carousel-card-image:hover {
    transform: scale(1.2);
    --x: 0px;
    --y: 0px;
}

@keyframes float {
    0%   { transform: translate(0px, 0px); }
    50%  { transform: translate(var(--x), var(--y)); }
    100% { transform: translate(0px, 0px); }
}


.contact-links {  
    display: flex;
    font-family: picnicMain;
    justify-content: center;
    gap: 72px;
    padding: 48px;
}

.contact-link {  
    color: #EDD8B7;
    text-decoration: none;
}

.contact-link:hover {
    color: #adf6a1;
}

header {
    color: rgb(255, 255, 255);  
    display: flex;
    gap: 4px;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 1;
    justify-content: center; 
    position: sticky;
    text-align: center; 
    top: 0;
    z-index: 2;
}

.main {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    height: 100vh;
    width: 100vw; 
}

nav {
    background: transparent;
    font-family: "bbbKarrik";
    font-size: 12px;    
    top: 0;   
}

.navlinks {
    display: grid;  
    list-style-type: none;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding: 0;
    text-decoration: none;

    > * {
        padding: 16px 0;
    }

    > li {

        > a {
            color: #EDD8B7;
            text-decoration: none;
        }

        > a:hover {
            color: #adf6a1;
        }
     
    }
}

section {
    width: 100vw;
    z-index: 1;
}

@font-face {
    font-family: bbbDmBold;
    src: url(../public/assets/fonts/bbb-dm-sans-main/ttf/BBBDMSans-Bold.ttf);
}

@font-face {
    font-family: bbbDmLight;
    src: url(../public/assets/fonts/bbb-dm-sans-main/ttf/BBBDMSans-Light.ttf);
}

@font-face {
    font-family: picnicMain;
    src: url(../public/assets/fonts/picnic-main/otf/PicNic.otf);
}

@font-face {
    font-family: bbbKarrik;
    src: url(../public/assets/fonts/bbb-karrik-main/ttf/BBB_Karrik.ttf);
}