body {      
    background: radial-gradient(circle at 50% 50%, #fffdf8, #f6debe 5%, #ddb393 20%, #b38a7a 75%, #918887 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
  }

header {
    display: flex;
    gap: 4px;
    color: rgb(255, 255, 255);  
    text-align: center; 
    justify-content: center;
    flex-direction: column;
}

nav {
    background: transparent;
    font-family: "bbbKarrik";
    font-size: 12px;    
    z-index: 2;
    ul {
        display: grid;  
        list-style-type: none;
        grid-template-columns: repeat(3,1fr);
        margin: 0;
        padding: 0;
    
        > * {
            padding: 16px 0;
        }
    
        > li:hover{
            color: #adf6a1;
        }
    }
}

@font-face {
    font-family: bbbDmBold;
    src: url(../public/assets/fonts/bbb-dm-sans-main/ttf/BBBDMSans-Bold.ttf);
}

@font-face {
    font-family: picnicMain;
    src: url(../public/assets/fonts/picnic-main/otf/PicNic.otf);
}

@font-face {
    font-family: bbbKarrik;
    src: url(../public/assets/fonts/bbb-karrik-main/ttf/BBB_Karrik.ttf);
}